[project]
name = "{{project_name}}"
version = "{{project_version}}"
description = "{{project_description}}"
readme = "README.md"
requires-python = ">=3.12"
authors = [{name = "{{ project_author }}", email = "{{ project_email }}"}]
dependencies = []
